---
import styles from './arcoiris.module.css';
---

<div class={styles.p4Container}>
  
  <div class={styles.sparklesLayer}>
  <div class={`${styles.sparkle} ${styles.s1}`}></div>
  <div class={`${styles.sparkle} ${styles.s2}`}></div>
  <div class={`${styles.sparkle} ${styles.s3}`}></div>
  <div class={`${styles.sparkle} ${styles.s4}`}></div>
  <div class={`${styles.sparkle} ${styles.s5}`}></div>
  <div class={`${styles.sparkle} ${styles.s6}`}></div>
  <div class={`${styles.sparkle} ${styles.s7}`}></div>
  <div class={`${styles.sparkle} ${styles.s8}`}></div>
  <div class={`${styles.sparkle} ${styles.s9}`}></div>
  <div class={`${styles.sparkle} ${styles.s10}`}></div>
  <div class={`${styles.sparkle} ${styles.s11}`}></div>
  <div class={`${styles.sparkle} ${styles.s12}`}></div>
</div>

  <div class={styles.rainbowTrack}>
    <div class={`${styles.bar} ${styles.rojo}`}></div>
    <div class={`${styles.bar} ${styles.amarillo}`}></div>
    <div class={`${styles.bar} ${styles.verde1}`}></div>
    <div class={`${styles.bar} ${styles.verde2}`}></div>
    <div class={`${styles.bar} ${styles.naranja}`}></div>
    <div class={`${styles.bar} ${styles.amarillo2}`}></div>
    <div class={`${styles.bar} ${styles.verde3}`}></div>
    <div class={`${styles.bar} ${styles.amarillo3}`}></div>
    <div class={`${styles.bar} ${styles.naranja2}`}></div>
    <div class={`${styles.bar} ${styles.blanco}`}></div>
    <div class={`${styles.bar} ${styles.amarillo4}`}></div>
    <div class={`${styles.bar} ${styles.celeste}`}></div>
    <div class={`${styles.bar} ${styles.verde4}`}></div>
    <div class={`${styles.bar} ${styles.verde5}`}></div>
  </div>

</div>